html {
    font-family: "helvetica neue", sans-serif;
}

body{
    background-color: #fff;
}

/* Imagens */
.logo {
    margin: 0px;
    padding: 0px;
    width: 50px;
    resize: none;
    /*flex: 0.04 1 0px;*/
    /*flex-basis: 0;*/
}

img.proximaPag{
    margin: 0px;
    padding: 0px;
    width: 25px;
    resize: none;
}

/* Textos */
.titulo1{
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
}
    @media(max-width: 900px){ /* Device: tablet */
        .titulo1{
            font-size: 170%;
        }
    }
    @media(max-width: 530px){ /* Device: mobile */
        .titulo1{
            font-size: 130%;
        }
    }
.paragrafo {
    text-indent: 50px;
}
.texto{
    text-indent: 50px;
}

.home-button{
    align-self: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6bf5ff;
}

h3.proximaPag{
    text-decoration: solid;
    font-weight: bold;
    color: #2a4269;
    line-height: 70px;
}

/* Partes */
header { 
    width: auto;
    /*height: 150px;*/
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 2px;
    border: 0px;
    background-color: #2a4269;
    color:#f1f1f1;
}


footer{
    background: #2a4269;
    padding: 5px;    
    margin: 2px 0;
    color: #aad2ff;
    height: 200px;

    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#tituloSeminarios{
    height: 100px;
    background-color: chocolate;
    position: relative;
}

#tituloSeminarios h1{
    position:absolute;                  
    bottom:0;
    left:0;
    margin: 10px;
}


.testeSite{
    height: 1200px;
}

/* Posicionamentos */
.push {
    margin-left: auto;
    margin-right: 10px;
}
.centralizado{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}