<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template caixa de input elegante CSS</title>
    <link rel="stylesheet" href="caixa.css">
    <!-- CSS EXTERNO PARA FONTES -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <!-- TIPO 1 DE INSERÇÃO -->

    <input type="text" placeholder="Age">

    <!-- TIPO 2 DE INSERÇÃO -->

    <div class="inputWithIcon">
        <input type="text" placeholder="Your name">
        <!-- ↓ ↓ Ícone externo do CSS de fontes ↓ ↓ -->
        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
    </div>

    <div class="inputWithIcon">
        <input type="text" placeholder="Email">
        <!-- ↓ ↓ Ícone externo do CSS de fontes ↓ ↓ -->
        <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
    </div>

    <div class="inputWithIcon">
        <input type="text" placeholder="Phone Number">
        <!-- ↓ ↓ Ícone externo do CSS de fontes ↓ ↓ -->
        <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>
    </div>

    <!-- TIPO 3 DE INSERÇÃO -->

    <div class="inputWithIcon inputIconBg">
        <input type="text" placeholder="Your name">
        <!-- ↓ ↓ Ícone externo do CSS de fontes ↓ ↓ -->
        <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
    </div>

    <div class="inputWithIcon inputIconBg">
        <input type="text" placeholder="Email">
        <!-- ↓ ↓ Ícone externo do CSS de fontes ↓ ↓ -->
        <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
    </div>

    
    <div class="inputWithIcon inputIconBg">
        <input type="text" placeholder="Phone Number">
        <!-- ↓ ↓ Ícone externo do CSS de fontes ↓ ↓ -->
        <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>
    </div>
    

    
</body>
</html>