.flexbox-container {
    /*height: 900px;*/
    display: flex;
    /*background-color: yellow;*/

    /* Alinha os elementos no centro */
    /*justify-content: center;*/

    /* Alinha os elementos com um espaço proporcional entre eles*/
    /*justify-content: space-between;*/

    /* Faz o mesmo da anterior mantendo uma margem entre a borda do container que estão dentro*/
    /*justify-content: space-around;*/

    /* Alinha os itens com o topo */
    /*align-items: flex-start;*/

    /* Alinha os itens no centro */
    /*align-items: center;*/
    

    /* Joga os itens pra próxima linha caso eles passem o tamanho da tela*/
    /*flex-wrap: wrap;*/

    /* Quando o programa joga a linha para baixo, o align-content é pra alinhar
    o conteúdo das "linhas" */
    /*align-content: center;*/
    /*align-content: flex-end;*/
    /*align-content: flex-start;*/
    /*align-content: space-between;*/

    /* Alinha os elementos do container como coluna */
    /*flex-direction: column;*/

    
}


/* Para explicação apenas */
.flexbox-item-demonstration {
    min-height: 100px;

    /* Força que o conteúdo não seja redimensionado */
    /*flex-shrink: 0;*/

    /* Expande o bloco com uma proporção 1 */
    /*flex-grow: 1;*/

    /* Expande o bloco com uma proporção 2 */
    /*flex-grow: 2;*/

    /* Reseta o valor definido da div */
    /*flex-basis: 0;*/

    /* Alinha o elemento, só que quando faz isso o objeto assume a medida original dele
     * não a que o flexbox deu pra ele */
    /*align-self: center;*/
    /*align-self: flex-end;*/

    /* Para ordenação de elementos, coloque o número nos 
    elementos flexbox que vc quer ordenar que o flexbox irá
    organizar fugindo da ordem do html.
    CONTRA-INDICADO: BAGUNÇA A HIERARQUIA DA ÁRVORE DOM */
    /*order: 1;*/
    /*order: 2;*/
    /*order: 3;*/

    /* Proporção(flex-grow), shrink? (0/1), flex-basis*/
    /*flex: 1 0 0px;*/
    
}


/* Para testes */
.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1 {
    min-height: 100px;
}

.flexbox-item-2 {
    min-height: 200px;
}

.flexbox-item-3 {
    min-height: 300px;
}